:root {
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  body {
    background-color: white;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  
  footer {
    font-size: 1.5rem;
    padding: 0.5rem;
    -webkit-border-radius: 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0.5rem;
  }
  
  h2 {
    color: red;
    font-weight: 600;
    margin: 0.5rem;
  }
  
  h3 {
    font-weight: 500;
  }
  
  hr {
    margin: 0.5rem;
  }
  
  label {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem;
  }
  
  p {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  
  .container {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .container > {
    width: 100%;
  }
  
  .hide {
    display: none;
  }
  
  .w3-container {
    padding: 0;
    -webkit-border-radius: 1rem;
  }
  
  #card1, #card2 {
    background-color: rgb(212, 166, 174);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: auto;
    width: 60%;
    -webkit-border-radius: 1rem;
  }
  
  #initialsBox {
    background-color: rgb(212, 166, 174);
    border-color: purple;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    width: 9rem;
    -webkit-border-radius: 1rem;
  }
  
  .btn {
    background-color: red;
    border-color: #333;
    color: #ecf5ff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-shadow: -1px 0 #333, 0 2px black, 1px 0 black, 0 -1px black;
    -webkit-border-radius: 1rem;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem 0 #333;
    transform: translateY(0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
  .questionLine :hover {
    background-color: red;
  }
  
  #multipleChoice :hover{
    background-color: lightgrey;
  }
  
  #card1 {
    background-color: white;
  }
  
  #card2 {
    background-color: white;
  }